/* Fuente personalizada */
@font-face {
    font-family: Poppins;
    src: url(Poppins.ttf);
}

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: white;
    background-color: #2c3338;
}

/*Centra el logo del menu*/
.logocesur {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Centrar los inputs y hacer que no ocupe toda la pantalla */
.posicionFormulario {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.botonPadre {
  
    text-align: center;
}

.padding{
    margin-bottom: 10px;
    min-width: 25em;
    
}
/*Para que se vean los campos de la tabla con el fondo*/
th, td{
    color: white;
}
/*Menu superior*/
.encabezado {
    background-color: #2c3338;
    width: 100%;
    height: 200px;
    text-align: center;
}
.logo{
    width: 200px;
}
   
/*Menu responsive*/

.container-menu{ 

    display: block; 

    text-align: center; 

    justify-content: center 

} 

.boton-form{ 

    width: 90%;
    margin-bottom: 1%;

} 

/*Media query para todas las pantallas menores de 600px*/ 
@media all and (max-width: 600px){ 

    .container-menu{ 

        display: block; 

        text-align: center; 

        justify-content: center 
    } 

    .container-boton{ 

        display: inline-block; 
    } 

    .boton-form{ 

        width: 80%; 
        margin-bottom: 3%;
    }

}
/*Media query para todas las pantallas menores de 400px*/ 
@media all and (max-width: 400px){ 

    .container-menu{ 

        display: block; 

        text-align: center; 

        justify-content: center 

    } 

    .container-boton{ 

        display: inline-block; 

    } 

    .boton-form{ 

        width: 80%; 
        margin-bottom: 3%;
        font-size: 90%;

    }
    .logocesur{
        width: 70%;
        height: 70%;
    }

}


/* Reglas de estilo para los datatables */

.tablon label,
.tablon select,
.tablon #tabla_info,
.tablon input[type=search] {
    color: white;

}

.tablon td {
    background-color: #2c3338;
}

.tablon .sorting_1,
.tablon thead,
.tablon tfoot {
    background-color: black !important;
}

/*Estilos Google*/

.botonGoogle{
    border: none;
    background: #ea4c88;
    color: #FFFFFF;
    font-size: 1.6em;
    padding: 0.7em 1.2em;
    opacity: 1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    float:left;
    
}
.botonGoogle:hover{
    background: #c62a65;
        opacity: 0.8;
}
